@keyframes pulse {
    30% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.skeleton {
    width: 200px;
    height: 200px;
    display: block;
    background-color: #ECEDEF;
    animation: pulse 1.5s ease-in-out 0.5s infinite;
}
